@charset "UTF-8";
/* TAMAÑOS MEDIA QUERIES */
/* FUENTES */
/* GLOBALES */
/* COLORES */
/* OTROS */
/* MEDIA QUERIES */
/* GLOBALES */
html {
  box-sizing: "border-box"; }

*,
*:before,
*:after {
  box-sizing: "inherit"; }

body {
  background-color: #ffffff; }
