/* TAMAÑOS MEDIA QUERIES */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/* FUENTES */
$fuente_principal: Arial, Helvetica, sans-serif;

/* GLOBALES */
$radio: 5px;

/* COLORES */
$principal: #E50914;
$secundario: #E87C03;
$gris: #323232;
$gris2: #8C8C8C;
$gris3: #454545;
$blanco: #ffffff;
$negro: #000000;

/* OTROS */